{% extends "::base.html.twig" %}

{% block body %}
<div class="panel panel-success">
	<div class="panel-heading">
		<h1>Se connecter</h1>
	</div>
	<div class="panel-body">
		{% if errors %}
    		<div>
    			{{ error.messageKey|trans(error.messageData, 'security') }}
    		</div>
		{% endif %}
		<form action="{{ path('login') }}" method="post">
		    <label for="username">Identifiant:</label>
		    <input type="text" id="username" name="_username" value="{{ last_username }}" />
		
		    <label for="password">Mot de passe:</label>
		    <input type="password" id="password" name="_password" />
	    	<button type="submit">Se connecter !</button>
	</div>
</div>
{% endblock %}